{% extends 'base.html' %}, {% load static %}

{% block content %}
<!-- about section -->
<section class="about_section layout_padding">
  <div class="container ">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="{% static 'images/about-img.png' %}" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Group Members
            </h2>
          </div>
          <p>
            Promise Niyi CST/18/COM/00092
          </p>
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->
{% endblock content %}
